/*! Social Likes v3.0.14 by Artem Sapegin - http://sapegin.github.com/social-likes - Licensed MIT */
.social-likes, .social-likes__widget {
    display: inline-block;
    padding: 0;
    vertical-align: middle !important;
    word-spacing: 0 !important;
    text-indent: 0 !important;
    list-style: none !important
}

.social-likes {
    opacity: 0;
    height: 30px;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
    width: 320px;
}

.social-likes_visible {
    opacity: 1;
    transition: opacity .1s ease-in
}

.social-likes > * {
    display: inline-block;
    visibility: hidden
}

.social-likes_vertical > * {
    display: block
}

.social-likes_visible > * {
    visibility: inherit
}

.social-likes__widget {
    display: inline-block;
    position: relative;
    white-space: nowrap
}

.social-likes__widget:before, .social-likes__widget:after {
    display: none !important
}

.social-likes_vertical .social-likes__widget {
    display: block;
    float: left;
    clear: left
}

.social-likes__button, .social-likes__icon, .social-likes__counter {
    text-decoration: none;
    text-rendering: optimizeLegibility
}

.social-likes__button, .social-likes__counter {
    display: inline-block;
    margin: 0;
}

.social-likes__button {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.social-likes__button:before {
    content: "";
    display: inline-block
}

.social-likes__counter {
    display: none;
    position: relative
}

.social-likes_ready .social-likes__counter, .social-likes__counter_single {
    display: inline-block
}

.social-likes_ready .social-likes__counter_empty {

}

.social-likes_vertical .social-likes__widget {
    display: block
}

.social-likes_notext .social-likes__button {
    padding-left: 0
}

.social-likes_single-w {
    position: relative;
    display: inline-block
}

.social-likes_single {
    position: absolute;
    text-align: left;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .11s, opacity .1s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.social-likes_single.social-likes_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s ease-out
}

.social-likes__button_single {
    position: relative
}

.social-likes__widget {
    border-radius: 2px;
    color: #000;
    float: left;
    font-family: OpenSansBold;
    font-size: 14px;
    height: 30px;
    line-height: 14px;
    margin: 0 5px;
    width: 70px;
}

.social-likes__widget:hover, .social-likes__widget:active, .social-likes__widget:focus {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    cursor: pointer
}

.social-likes__button, .social-likes__counter {
    cursor: inherit;
    font-family: OpenSansBold,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
}

.social-likes__counter {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #c5cdd8;
    line-height: 14px;
    padding: 4px 6px;
    text-align: center;
    width: 37px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.social-likes__widget:hover > .social-likes__counter, .social-likes__widget:focus > .social-likes__counter, .social-likes__widget:active > .social-likes__counter, .social-likes__widget_active > .social-likes__counter {
    position: relative;
    border-left-color: transparent
}

/*
.social-likes__widget:hover > .social-likes__counter:before, .social-likes__widget:focus > .social-likes__counter:before, .social-likes__widget:active > .social-likes__counter:before, .social-likes__widget_active > .social-likes__counter:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    border-left: 1px solid;
    opacity: .4
}*/

.social-likes__button {
    padding: 0;
    text-align: center;
    width: 29px;
    color: #FFF;
}

.social-likes_single .social-likes__counter {
    display: table-cell;
    padding: 2px 8px 2px 4px;
    border-left: 0;
    text-align: right
}

.social-likes_single .social-likes__widget:hover > .social-likes__counter:before, .social-likes_single .social-likes__widget:focus > .social-likes__counter:before, .social-likes_single .social-likes__widget:active > .social-likes__counter:before {
    display: none
}

/*
.social-likes__icon_single {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAaElEQVR42mIxL/zLgATkgXgBECcC8QOYIBOagvVA7ADEa4FYAV0RIxDPAeIUKD8VygeJM7BABf8DsScQ/4HyzwGxB1QcrKgByUpk9h8YnwlJElkBiiYmBiIAbRUx0s46FizhgwEAAgwAkmYQfIjC7tcAAAAASUVORK5CYII=")
}

.social-likes__widget_single:hover, .social-likes__widget_single:active, .social-likes__widget_single:focus, .social-likes__widget_active {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #3673f4;
    border-color: #3673f4;
    color: #fff
}

.social-likes__widget_single:hover .social-likes__icon_single, .social-likes__widget_single:active .social-likes__icon_single, .social-likes__widget_single:focus .social-likes__icon_single, .social-likes__widget_active .social-likes__icon_single {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAYklEQVR42mL4//8/AxKWB+L9QKyALI6u4Nx/CDiLrBCmgBGIdwOxEVQRiN4DFWcAE1DAAsR/gBgkwIjEBzMaGBAAmf0Hzgea1IDm+P9o/AYmBiIAbRUx0s46FizhgwEAAgwAAJd9Vn3NlgwAAAAASUVORK5CYII=")
}

.social-likes__icon_facebook {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaklEQVR42mJ0Cp7jycDAMBeIJRnwg+dAnMxEpGIGqJq5THgULwFicSBmBGJbmCYWPCYWAvEbdEF8GmCK/yMLMjGQCLBpsIW6GwaQ/UC6Ddj8cBjJZOr44TkJ6l+ANKSAGEQofgpKGgABBgAWcxAZp2KpkQAAAABJRU5ErkJggg==")
}*/

.social-likes__widget_facebook, .social-likes__widget_facebook, .social-likes__widget_facebook {
    background: #c7d3e0 none repeat scroll 0 0;
    border: 2px solid #c7d3e0;
}

.social-likes__widget_facebook:hover, .social-likes__widget_facebook:active, .social-likes__widget_facebook:focus {
    background: #425497;
    border-color: #425497
}

.social-likes__widget_twitter, .social-likes__widget_twitter, .social-likes__widget_twitter {
    background: #c2e1f9 none repeat scroll 0 0;
    border: 2px solid #c2e1f9;
}

.social-likes__widget_twitter:hover, .social-likes__widget_twitter:active, .social-likes__widget_twitter:focus {
    background: #00b7ec;
    border-color: #00b7ec
}

.social-likes__widget_plusone, .social-likes__widget_plusone, .social-likes__widget_plusone {
    background: #fdcec5 none repeat scroll 0 0;
    border: 2px solid #fdcec5;
}

.social-likes__widget_plusone:hover, .social-likes__widget_plusone:active, .social-likes__widget_plusone:focus {
    background: #dd4241;
    border-color: #dd4241;
}

.social-likes__widget_vkontakte, .social-likes__widget_vkontakte, .social-likes__widget_vkontakte {
    background: #c7d3e0 none repeat scroll 0 0;
    border: 2px solid #c7d3e0;
}

.social-likes__widget_vkontakte:hover, .social-likes__widget_vkontakte:active, .social-likes__widget_vkontakte:focus {
    background: #526e8f;
    border-color: #526e8f;
}

.social-likes__icon_odnoklassniki {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAyElEQVR42kzPMQtBcRTG4UvKQmalZFNKDNdm5gsYFCUlCbMyGMwsfACLzRcw2EwsGJTBQAZlUgxsfidvceq5/3vPeTv3Xs99FHMoP3ooOd+aoo+3T40hmnjouYsQWl4uEdRxRkLO6kVsQwB23nDRBruP2swGJ+zgYqKAq97JAi8UMUNFgb16LwvUkEYHcQUOaGNjgTKyaGCrQErn0gJVpQt/g6teObbfPGKAp/Orp3pH25DEHGGsFchghbxXXxvEAjlZqFf8CDAAgr4qyqKlfhgAAAAASUVORK5CYII=");
    background-position: 6px 3px
}

.social-likes__widget_odnoklassniki:hover, .social-likes__widget_odnoklassniki:active, .social-likes__widget_odnoklassniki:focus {
    background: #f6903b;
    border-color: #f6903b
}

.social-likes__widget_odnoklassniki:hover .social-likes__icon_odnoklassniki, .social-likes__widget_odnoklassniki:active .social-likes__icon_odnoklassniki, .social-likes__widget_odnoklassniki:focus .social-likes__icon_odnoklassniki {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAgElEQVQIHQXBoRGCAAAF0N80OoA0AxTHcQMncAaO7J1ndRCbgUDRbPCgMABEjnu+F7FRGwxqG4m4YTLhJrG36BUKvcU+SnQiOpSx9cHDAx/biMoP/FQSZ3cnFxcnd+d4YfX2tuIVB1cjGF0dIgpf8FVIHI1otRgdozF72tl5mjV/486WhTdrOooAAAAASUVORK5CYII=")
}

.social-likes__icon_pinterest {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAABCUlEQVR42nTRPUvDUBTG8ZtoKYogTsGCoAXtUqFuBR1c/AZddNbRQUqhH0Eo6KKDb0gpXQUHBxF0Kg6KFAWh4qI4KxQRtKXxf+C5OEgP/Ehu8uTclwSN0VmnWsE6shjEF05QwZMFQr04QB3vKOmjGlZxiZxTcE0Pi9jCGD402xnOsYNF67yBGwWP8IaCwhe4xjxmLDyNUySxjGGk3F/5Wcb9Rib04FNLu9LYmk2ih1cbVLXmKXTRwoPCc8jgES/WpYymlhOpSxoxdjXTNn7spo19nYbN1ME9hjTexLE/OqsAC/jGknYf6Yxv/U592LrkcYdn+VehrgmM4ND1r8CHB7CnX96v4l8BBgB54jWa5GM+bAAAAABJRU5ErkJggg==")
}

.social-likes__widget_pinterest:hover, .social-likes__widget_pinterest:active, .social-likes__widget_pinterest:focus {
    background: #cc002b;
    border-color: #cc002b
}

.social-likes__widget_pinterest:hover .social-likes__icon_pinterest, .social-likes__widget_pinterest:active .social-likes__icon_pinterest, .social-likes__widget_pinterest:focus .social-likes__icon_pinterest {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAQAAADV/FywAAAAvklEQVQYGQXBsUoUAACA4f/i8MBB0TdINCQQhHoDaXRzagkkopYGhRYfwKWhSYLDZ2ixNyiTVp1cXMQgaDpNsa6v70vy3DcTt34ZeyRlaIzPXnvpAy6tK2+wIwuSZ/75Yphz3+XQjS3JVzwOe0Z+463kCBu58dHIT/fW5IEzUys58NeqK6eSJ/44NZM5r2yaurTkoRNsK8kuLlybYt9AycAnd5a98M5TScmsH44lSVIyb2JbkiSDZNF7I0mS9B8IOsS5z/yrNgAAAABJRU5ErkJggg==")
}